body{
    font-family: 'Rubik';
  
}

.navbar{
    border-bottom: solid 2px red;
}

header{
    min-height: 100vh;
    background-image:linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0)),url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    
}
button{
    width: 200px;
    padding: 15px 0px;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid #db000f ;
    background-color:#bd3f47;
    color: white;
    font-size: 25px;
    margin-top: 40px;
    

}
button:hover{
    opacity: .6;
}


  .product1{
    padding-bottom: 15px;
      float: left;
      margin-top: 15px;
      justify-content: space-between;
      margin-left: 40px;
  }.product1 img{

    width: 250px;
    height: 250px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
  }
  .products h2{
      text-align: center;
      font-weight: bold;
      margin-top: 30px;
      font-style: italic;
        color: seashell;
  
  }
  .product1 p{
      padding-top: 5px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      color: seashell;
      
  }
   #suits{
            padding: 0;
        }
           #suits .row{
               margin: 0;
           }
         .suit{
             padding: 0;
             background-color: black;
             overflow: hidden;

         }
         .suit img{
             width: 100%;
             margin-bottom: -5px;
             opacity: 0.6;
             transition: 1s;
             transform: scale(1.2);
         }

         .suit img:hover{
          opacity: 1;
          transform: scale(1);
         }

         .t-shirts img{
            width: 320px;
            height: 250px;
            margin-bottom: 10px;
        }
        .t-shirts h3{
            font-size: 18px;
           text-align: center;
           margin-bottom: 5px;
           color: rgb(0, 0, 0);
       }
       .t-shirts-info{
        
           margin-bottom: 10px;
           color: rgb(0, 0, 0);
       }
       .t-shirts-info i{
        
           margin-right: 1px;
           color: rgb(0, 0, 0);
           
       }
    #contacts{
        margin-top: 50px ;
    }
    label{
          
        color: #bd3f47;
        font-size: 18px;

    }

    input[type=text] , input[type=email], select , textarea{
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 7px;
    }

    select{
        width: 100%;
    }

    input[type=checkbox] {
        margin-bottom: 3px;
    }

    .btn1{
        border: solid 1px #bd3f47;
        border-radius: 5px;
        color: #bd3f47;
        text-decoration: none;
        background-color: white;
    }

    footer{
        padding: 50px 100px;
        margin-top: 10px;
        background-color: black;
    }

    footer p{
        color: #fff;
        text-align: center;
        margin-top: 30px;
    }

   .footer-nav{
       list-style: none;
   }

   .footer-nav li{
    display: inline-block;
    margin-left: 10px;

}

.footer-nav li a{
    color: white;
    text-decoration: none;

}

.footer-nav li a:hover{
    color: #bd3f47;
    text-decoration: underline;

}



.social-nav{
    list-style: none;
    float: right;
}

.social-nav li{
 display: inline-block;
 margin-left: 10px;

}

.social-nav li a{
 color: white;
 text-decoration: none;

}

.social-nav li a:hover{
 color: #bd3f47;
 text-decoration: underline;

}
